*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* top nav */
.nav-1{
    width: 100%;
    height: 50px;
    background-color: black;
    line-height: 50px;



    
    
}

.nav-1 a{
    text-decoration: none;
    text-align: left;
    padding: 0 25px;
    color:aliceblue;
    display: inline-block;


}

.nav-1 a:hover{
    color: aqua;
    background-color: aliceblue;
    
}



/* image */

.top-image{
    width: 100%;
    height:400px;
    background-color: aqua;

}

.top-image img{
    width: 100%;
    height: 400px;
    object-fit:cover;
}


/* 2nd nav */

.nav-2{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    display: flex;
    

}


/* left */
.nav-2 .left{
    width: 50%;
    height: 50px;
    line-height: 50px;
}

.nav-2 .left a{
    text-decoration: none;
    text-align: left;
    padding: 0 25px;
    color:aliceblue;
    

}

.nav-2 .left a:hover{
    color: rgb(0, 104, 196);
    
    height: 100px;
    width: 100px;

}


/* right */
.nav-2 .right{
    width: 50%;
    height: 50px;
}

.right form {
    float: right;
    margin-right: 16px;
    font-size: 17px;
    align-items: top; 
  }

.right form input{
    width: 200px;
    height: 22px;
    padding: 5px;
}


/* body */
.content{
    background-color: aqua;
    width: 100%;
    height: 300px;
    display: flex;

}

/* left */
.content .content-left{
    width: 20%;
    height: 300px;
    background-color: rgba(156, 206, 122, 0.87);
    
}

.content .content-left h1{
        background-color: green;
        font-size: 30px;
        padding:5px;
        color: aliceblue;
        
}

.content .content-left h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    padding: 10px;
    padding-left: 15px;
}

/* mid */
.content .content-mid{
    width: 60%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    
}

.content .content-mid .content-heading{
    display: flex;
    width: 100%;
    height: 56px;
    background-color:rgb(150, 161, 150);        
    
}
.content .content-mid .content-heading h1{
    padding:10px;
    color: aliceblue; 
}

.content .content-mid .content-heading img{
    background-color: rgb(150, 161, 150);
    width: auto;
    height: auto;
    padding: 5px;
}

.content .content-mid p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    padding: 7px;


}

/* Right */
.content .content-right{
    width: 20%;
    height: 300px;
  
    background-color: rgba(156, 206, 122, 0.87);
}

.content .content-right h1{
    background-color: green;
    font-size: 30px;
    padding:5px;
    color: aliceblue;
    
}

.content .content-right h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    padding: 10px;
    padding-left: 15px;
}

.content .content-right .login-form{
    padding-top: 30px;
    padding-left: 15px;
    
    
}

.content .content-right .login-form button{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    background-color:orange;
    border-radius: 10px;
}


/* Footer */
footer{
    width: 100%;
    height: 300px;
    background-color: dimgray;
    

}

footer .footer-item-area{
    width: 100%;
    height: 300px;
    background-color: rgb(6, 21, 41);
    display: flex;
    border-bottom: 1px solid rgb(34, 33, 33);


}

footer .footer-item{
    width: 20%;
    padding: 20px; 

}

footer .footer-item h1{
    color: white;
}

footer .footer-item a{
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    display:block;
    color: aliceblue;
   
}
footer .footer-item a:hover{
    color: rgb(236, 103, 42);
}



.footer-icon-btn img{
    align-items: center;   
    padding: 10px; 
    padding-top:30px ;
}

.footer-icon-btn h2{
    color: aliceblue;
    font-size: 10px;


}

.footer-icon-btn h2:hover{
    color: rgb(221, 197, 137);
}

/* last Step */
footer .last-step{
    font-size: 10px;
    text-align: center;
    background-color:rgb(6, 21, 41) ;
    color: aliceblue;

}
